
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background: rgb(70, 161, 247);
}

.card {
    font-family: Cardo;
    border-radius: 5px;
}

.list-group-item {
  border: none;
}
