
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background: rgb(70, 161, 247);
}

.carta {
  width: 80px;
  height: 120px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
}

#contenedorCartas1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
